


@font-face {
    src: url("agent-red.regular.ttf");
    font-family: agent-red;
}


/* Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: agent-red, sans-serif, Verdana, Geneva, Tahoma;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #000000, #cf0eb6);
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .video-container {
        max-width: 100%; /* Full width on mobile */
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    }
}

.container {
    padding-top: 80px;
    width: 375px;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


/* Typoghaphy */

h1 {

    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-bottom: 25px;
    line-height: 1.3;
    text-shadow: 
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan;
}

p {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-shadow: 
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan;
}

button {
    width: 250px;
    border-radius: 10px;
    font-size: 1rem;
    color: purple;
    font-weight: 600;
    height: 40px;
    margin: 5px 0;
    border: 2px solid purple;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-block;
    background-color: gainsboro;
    box-shadow: 0 0 5px white;
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

button:active {
    background-color: rgb(31, 30, 30);
}

label {
    color: rgb(219, 34, 114);
    text-shadow: 
        0 0 10px orangered,
        0 0 20px orangered,
        0 0 40px orangered,
        0 0 80px red;
    display: inline-block;
    margin-top: 10px;

}

input {
    display: inline-block;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    border: 2px solid cyan;
    box-shadow: 0 0 5px white;
    color: white;
    text-shadow: 
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: box-shadow 0.3s;
}

input:hover {
    box-shadow: 
        0 0 5px white,
        0 0 10px white;
}

input:focus {
    border-color: rgb(0, 255, 255); 
    box-shadow: 
        0 0 10px white,
        0 0 15px white;
    outline: none
}

/* Fade-in effect when the page loads */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Slide out to the left effect */
.slide-out {
    transform: translateX(-500%);
}

/* Slide out to the left effect */
.slide-in {
    transform: translateX(500%);
}

span {
    display: block;
    color: red;
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';

}

#occupied-room {
    margin-top: 20px;
}


.my-popup {
    border-radius: 10px;
}

.my-title {
    font-size: 1rem; 
}

.text {
    font-size: 0.7rem; 
}

#back-btn:hover {
    font-size: 2rem;
    cursor: pointer;
}

#back-btn:active {
    color: #cf0eb6;
}

#back-btn {
    width: 40px;
    background-color: transparent;
    color: white;
    text-shadow: 
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 1.5rem;
    cursor: pointer;
    top: 20px;
    left: 10px;
    transition: all 0.3s;
    position: absolute;
}

