*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Orbitron", "Bebas Neue", sans-serif;
    background-color: rgb(90, 83, 83);
}

.container {
    width: 100vw;
    height: 100dvh;

}

header {
    background-image: url("images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    background: linear-gradient(to bottom, black, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 0.5em;
    }

header p {
    color: #f1c40f;
    font-size: 1rem;
}

header p:hover {
    color: #f39c12;
    cursor: pointer;
}

#search-container {
    margin-top: -1em;
    text-align: center;
}

#search-container input {
    width: 50%;
    height: 2em;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2em;
}

#search-container button {
    height: 2em;
    width: 5em;
    border: none;
    border-radius: 5px;
    background-color: #f1c40f;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1em;
}


#movies-container {
    padding: 0 2.5em;
    animation: fadeIn 1s ease-in-out;
}

.movie-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    color: gainsboro;
}

.movie-placeholder:hover {
    cursor: pointer;
    color: #f1c40f;
}

.movie-placeholder img {
    margin-right: 0.5em;
}

.movie-item {
    border-bottom: 2px solid gainsboro;
    padding: 0.5em 0;
    display: flex;
    height: 150px;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

.movie-item img {
    width: 100px;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
    outline: none;
}

.movie-item p:last-child {
    display: none;
}

.movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
}
.movie-info h2 {
    font-size: 1.2em;
    margin-top: auto;
    line-height: 1.1;
    text-overflow: hidden;
    height: 2em;
}

.movie-info div:nth-child(2) {
    font-size: 0.8rem;
}

.movie-info div button {
    border-radius: 5px;
    background-color: #f1c40f;
    padding: 0.2em 0.4em;
    margin-top: 0.5em;
}

.movie-info div button:hover {
    background-color: #f39c12;
    cursor: pointer;
    
}






/* Movie Watchlist Page */

main {
    height: 100%;
}


#movie-watchlist-container {
    height: 100%;
    text-align: center;
    margin-top: 4em;
}

.empty-watchlist {
    text-align: center;
    margin-top: 50px;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

.empty-image {
    max-width: 300px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#movie-watchlist-container p {
    color: gainsboro;
    margin-bottom: 0.5em;
}

#movie-watchlist-container button {
    border-radius: 5px;
    background-color: #f1c40f;
    padding: 0.2em 0.4em;
    margin-top: 0.5em;
}

#movie-watchlist-container button:hover {
    background-color: #f39c12;
    cursor: pointer;
}


.error {
    color: whitesmoke;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
    letter-spacing: 2px;
}






@media (max-width: 500px) {
    main #search-container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        align-items: center;
    }

    #search-container {
        width: 100%;
        padding: 0 2.5em;
    }

    #search-container input {
        width: 100%;
        margin-bottom: 0.5em;
    }

    #search-container button {
        width: 100%;
        margin-bottom: 1em;
    }

    .movie-info {
        justify-content: space-between;
    }
    
    .movie-info div:nth-child(2) p {
        display: none;
    }

}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.5rem;
    }
    
}
